# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Krypto1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\anton\RiderProjects\Krypto1\.idea\.idea.Krypto1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
